html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#upBorder {
    height: 100px;
}

#downBorder {
    height: calc(100% - 100px);
}

form {
position: absolute;
top: 180px;
left: 50%;
transform: translateX(-50%);
background-color: #fff;
border: 1px solid #000;
padding: 20px;
width: 750px;
height: 400px;
border-radius: 10px;
}  

label {
    margin-right: 10px;
}

.field {
    font-weight: bold;
}

.register {
color: rgb(115, 150, 54);
margin-top: 5px;
margin-left: 5px;
}

#click-here {
color: rgb(0, 195, 255);
text-decoration: underline;
}

button[type="submit"] {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

label.register {
    position: absolute;
    bottom: 20px;
    left: 235px;
    transform: translateX(-50%);
  }
  
  #selectedImage {
    width: 270px;
    height: 200px;
    object-fit: contain;
    float: right;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 30px;
    margin-top: -100px;
  }
  